/* especialidades */

.especialidades__flex{
    display: flex;
    flex-flow: row wrap;
/*     flex-direction: row;
    flex-wrap: wrap; */
    justify-content: space-around;
}

.especialidades__box{
    width: 300px;
    height: 350px;
    padding: 2rem 2rem;
    margin: 1rem 8rem;
    background: rgb(216, 235, 250);
    box-shadow: 0 10px 30px -10px rgba(47, 94, 100, 0.45);
}

.especialidades__box__subtitle{
    font-size: 2rem;
    margin: 1rem auto 1.2rem auto;
    text-align: center;
}

.especialidades__box__text{
    font-size: 1.4rem;
    line-height: 1.3;
}

.especialidades__box--sizing{
    max-width: 100%;
    display: block;
    margin: auto auto;
}